body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url('../images/space.jpg');
    background-size: cover;
}

h1 {
    font-family: 'Thumbs Down', sans-serif;
    font-style: italic;
    font-size: 4.5rem;
    color: white;
    text-shadow: 0 0 1px purple,
        0 0 6px purple,
        0 0 12px purple,
        0 0 30px purple,
        0 0 60px purple;
    ;
}


.cells {
    border: 1px solid white;
}

#container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    border: 2px solid purple;
    box-shadow:
        0 0 4px purple,
        0 0 8px purple,
        0 0 30px purple,
        0 0 60px purple;
}

.spaceship {
    background-image: url(' ../images/space-ship.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.missile {
    background-image: url(' ../images/missile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.green-alien {
    background-image: url(' ../images/green-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.red-alien {
    background-image: url(' ../images/red-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.yellow-alien {
    background-image: url(' ../images/yellow-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.purple-alien {
    background-image: url(' ../images/purple-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}