body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url('../images/space.jpg');
    background-size: cover;
}

h1 {
    font-family: 'Thumbs Down', sans-serif;
    font-style: italic;
    font-size: 4.5rem;
    color: white;
    text-shadow: 0 0 1px purple,
        0 0 6px purple,
        0 0 12px purple,
        0 0 30px purple,
        0 0 60px purple;
    ;
}


.cells {
    border: 1px solid white;
}

#container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    border: 2px solid purple;
    box-shadow:
        0 0 4px purple,
        0 0 8px purple,
        0 0 30px purple,
        0 0 60px purple;
}

.spaceship {
    background-image: url(' ../images/space-ship.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.missile {
    background-image: url(' ../images/missile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* #div0,
#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8,
#div9,
#div10,
#div11,
#div12,
#div13,
#div14,
#div19,
#div24,
#div25,
#div26,
#div27,
#div28,
#div33,
#div38,
#div39,
#div40,
#div41,
#div42,
#div43,
#div44,
#div45,
#div46,
#div47,
#div48,
#div49,
#div50,
#div51,
#div52 {
    background-color: green;
}

#div20,
#div21,
#div22,
#div23,
#div29,
#div30,
#div31,
#div32 {
    background-color: red;
}

#div57,
#div58,
#div59,
#div60,
#div61,
#div62,
#div63,
#div64,
#div65,
#div66,
#div67,
#div68,
#div69,
#div70,
#div71 {
    background-color: yellow;
} */

.green-alien {
    background-image: url(' ../images/green-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.red-alien {
    background-image: url(' ../images/red-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.yellow-alien {
    background-image: url(' ../images/yellow-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.purple-alien {
    background-image: url(' ../images/purple-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}