* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: url('../videos/space.mp4');
    background-size: cover;
}

h1 {
    font-family: 'Thumbs Down', sans-serif;
    font-style: italic;
    font-size: 4.5rem;
    color: white;
    margin: 1.5rem;
    text-shadow: 0 0 1px purple,
        0 0 6px purple,
        0 0 12px purple,
        0 0 30px purple,
        0 0 60px purple;
    ;
}

h3 {
    margin: 0 3rem;
}

#playInstructions {
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
}


#counters {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: white;

}

#message {
    animation: flicker 6s linear infinite;
}

@keyframes flicker {
    0% {
        color: white;
    }

    20% {
        color: purple;
    }

    40% {
        color: green;
    }

    60% {
        color: yellow;
    }

    80% {
        color: red;
    }

    100% {
        color: white;
    }
}



#container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    border: 2px solid purple;
    box-shadow:
        0 0 4px purple,
        0 0 8px purple,
        0 0 30px purple,
        0 0 60px purple;
}

.spaceship {
    background-image: url(' ../images/space-ship.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.missile {
    background-image: url(' ../images/missile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.green-alien {
    background-image: url(' ../images/green-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.red-alien {
    background-image: url(' ../images/red-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.yellow-alien {
    background-image: url(' ../images/yellow-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.purple-alien {
    background-image: url(' ../images/purple-alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


#intro {
    color: white;
    font-size: 6rem;
    margin-top: 40vh;
}

#play-btn {
    font-size: 3rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin-top: 3rem;
    padding: .6rem 2.3rem;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 0 0 1px purple,
        0 0 2px purple,
        0 0 4px purple,
        0 0 6px purple,
        0 0 8px purple;

    border: 2px solid purple;
    box-shadow:
        0 0 5px purple,
        0 0 10px purple,
        0 0 20px purple,
        0 0 40px purple;


}

#restart-btn {
    font-size: 1rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    padding: .6rem 2.3rem;

    cursor: pointer;
    border-radius: 10px;
    text-shadow: 0 0 1px purple,
        0 0 2px purple,
        0 0 4px purple,
        0 0 6px purple,
        0 0 8px purple;

    border: 2px solid purple;
    box-shadow:
        0 0 5px purple,
        0 0 10px purple,
        0 0 20px purple,
        0 0 40px purple;
}



@media (max-width: 1000px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
        margin: 0 2rem;
    }

    #container {
        display: grid;
        grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
        grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
        border: 2px solid purple;
        box-shadow:
            0 0 4px purple,
            0 0 8px purple,
            0 0 30px purple,
            0 0 60px purple;
    }
}

@media (max-width: 735px) {
    h1 {
        margin-top: 3.5rem;
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.5rem;
        margin: 1rem 1rem 5rem 1rem;
    }

    #message {
        position: relative;
        top: 65px;
        font-size: 2rem;
        left: 20px;
    }

    #playInstructions {
        font-size: 1.2rem;
        margin-top: 3rem;
    }
}

@media (max-width: 500px) {
    h3 {

        margin: 1rem .7rem 5rem 0;
    }

    #message {
        font-size: 1.5rem;
    }

    #playInstructions {
        position: relative;
        font-size: 1rem;
        margin-top: 3rem;
        left: -15px;
    }

}